.pokemon-card {
  margin: 5px 10px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.pokemon-card .card-body {
  display: flex;
  justify-content: center;
  padding: 10px 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: #f1f1f1;
}
.pokemon-card img {
  display: block;
  padding: 5px 10px;
}
.pokemon-card:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 5px grey, -2px -2px 5px grey;
}

.pokemon-card .pokeman-detail-link {
  text-decoration: none;
}

.pokemon-card .name {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #212529;
  text-transform: capitalize;
  font-size: 1.25rem;
  text-decoration: none;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
