.inline-display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.poke-img h2 {
  color: yellow;
}

.poke-card {
  background-color: #f7fafc;
}

.abilities {
  margin-bottom: 10px;
}

.abilities span {
}

.types span {
}
.details-card {
  padding: 5px 10px;
}

.moves span {
}

.label {
  display: inline-block;
  color: white;
  font-weight: 100;
  font-size: 0.7em;
  text-transform: capitalize;
  padding: 0.5em 0.8em;
  margin: 0.4em;
  border-radius: 5px;
  background: #17a7d2;
}

button {
  background-color: blue;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}
.detail-header {
  font: 20px "Patua One", sans-serif;
  color: #17a7d2;
}
